*DS_Store*
.deps/*
*/.deps/*
*/*/.deps/*
.dirstamp
*.o
*.dylib
*.a
*.la
*.lai
*.lo
*libs/*
*.cache
*.log
# config.status should be caught further below
*/.svn/*
*/*/.svn/*
*/*/*/.svn/*
libtool
*~
*stamp-h*
make_tpl_varnames_h
diff_tpl_auto_escape
statemachine.c
libctemplate.pc
libctemplate_nothreads.pc
*so_locations
*.trs
compile_test
compile_nothreads_test
template_test_util_test
template_test_util_nothreads_test
template_dictionary_unittest
template_dictionary_nothreads_unittest
template_modifiers_unittest
template_modifiers_nothreads_unittest
template_setglobals_unittest
template_setglobals_nothreads_unittest
template_cache_test
template_cache_nothreads_test
template_unittest
template_nothreads_unittest
template_regtest
template_nothreads_regtest
htmlparser_test
htmlparser_nothreads_test
statemachine_test
generate_fsm_c_test
*.userprefs
confdefs.h
*.status
Makefile
src/config.h
